.navbar, 
.nav-item, 
.nav-link{
    color: white !important;

}
.navbar-nav {
    display: flexbox;
    grid-template-columns: 2fr auto; /* One column for the remaining space and one column for navigation items */
    align-items: center; /* Align items vertically */
    padding-left: 700px; /* Remove default padding */
    font-family: Inter;
}
.nav-image{
  margin-top: 10px;
}

.nav-item {
  display: flex;
    justify-self: auto; /* Align items to the end (right) */
    list-style: none; /* Remove default list styles */
    padding: 0px; /* Add some padding for spacing */
    margin-right: 100px;
}
.body{
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    background-color: black !important;
    
  }
  .container{
    display: flex;
    justify-content: space-between;
  }

.wrapper{
    width: 60%;
    background: none;
    border-radius: none;
    box-shadow: none;
    text-align: center;
    margin-top: 40px;
    margin-right: 80px ;
  }
.calendar-header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    margin-bottom: 20px;
    justify-content: center;

  }
.icons{
    display: flex;
    margin-top: 20px;
  }
.fas{
    margin-top: 20px;
    
}
.icons span{
    height: 38px;
    width: 38px;
    margin: 0 5px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
.icons span:last-child{
    margin-right: -20px;
  }
.icons span:hover{
    background: none;
  }
.current-date{
    font-size: 1.45rem;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline block;
    justify-content: center;
    color: white;
  }
.calendar{
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
    text-align: center;
    
  }
.calendar-header{
    position: relative; 
    display: inline-block; 
  }
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
.calendar .days{
    margin-bottom: 20px;
  }
.calendar li{
    color: white;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: lightgreen;
  }
  .days li:not(.active):hover::before{
    background: lightgreen;
  }
  .form{
    position: relative;
    margin-left: 60px;
    margin-top: 50px !important;
    
  }
  .create-button{
    width: 50px;
  }
  .button{
    width: 50px !important;
  }
  

