body{
    background-color: #000;
}
.navbar-list{
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: right;
    padding: 1rem 5rem;
    background-color: #000;
    color: #fff;
}

#profile {
    margin-left: 30rem;
    font-size: 24px;
}

.event {
    background: #161616;
    display: flex;
}

.event-container {
    color:#fff;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 8rem;
    /* padding-bottom: rem; */

}

.event-header {
    display: flex;
    justify-content: space-between;
}
.event-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    font-size: 24px;
    background-color: #1e1e1e;

}

.event-item-dics {
    display: flex;
    flex-direction: column;
}

.event-item-heading {
    display: flex;
    font-size: 1.3rem;
    margin: 0;
}

.event-item-heading p {
    margin: 0;
}


.date {
    font-size: 1rem;
}

.event-participante {
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.event-participante i {
    margin-top: 1.3rem;
}

.member {
    display: flex;
    justify-content: center;
    padding-top: 10.4rem;
    color: #fff;
}

.box {
    width: 300px;
    background-color: #161616;
    border-radius: 10px;
    border: 1px solid #B1F041;
    text-align: center;
    padding: 1rem;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 h2 {
    font-size: 16px;
}

.add-button {
    background: none;
    border: none;
    color: #B1F041;
}

.add-button:hover {
    color: #0056b3;
}

.team-text {
    margin: 0 0 20px 0;

    text-align: left;
}



.line {
    height: 1px;
    width: 100%;
    background-color: #B1F041;
}

.circle-profiles {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6C6C6C;
    margin: 0 5px;
}

.message-section {
    display: flex;
    width: 500px;
    height: 300px;
    margin-top: 40px;
    margin-right: 20px;
    background-color: #161616;
    color: #fff;
}

.left-pane {
    width: 30%;
    border-right: 2px solid #B1F041;
    padding: 20px;
}

.left-pane h2 {
    margin: 0;
    color: #B1F041;
}

.search-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #1E1E1E;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    padding: 5px;
}

.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.chat-list {
    flex-grow: 1;
    overflow-y: auto;
}

.chat {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #3E3E3E;
    border-radius: 5px;
    cursor: pointer;
}

.chat:hover {
    background-color: #5E5E5E;
}

.right-pane {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6C6C6C;
    margin-right: 10px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-name {
    margin-bottom: 5px;
}

.contact-status {
    font-size: 14px;
    color: #B1F041;
}

.message-container {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #1E1E1E;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.welcome-message {
    text-align: center;
}

.message-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

.message-input input {
    flex-grow: 1;
    height: 30px;
    background-color: transparent;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    outline: none;
}

.message-input button {
    background-color: #1E1E1E;
    border: none;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #3E3E3E;
}
